@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}
section{
padding:100px;

}
.banner {
    position: relative;
    min-height: 100vh;
    /*background: url(/image/AdobeStock_241083104-scaled.jpeg);*/
    background-color: #111;
    background-size: cover;
    background-position: right;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.banner h2{
    font-size: 3em;
    color: #fff;
    font-weight: 500;
    line-height: 1.5em;
}
.banner h2 span{
font-weight: 700;
font-size: 1.5 em;
}
.banner h3{
    font-size: 1.5em;
    color: #fff;
    font-weight: 500;
    line-height: 1.5em;
}
.btn {
    position:relative;
    background: #fff;
    display: inline-block;
    color: #111;
    margin-top: 20px;
    padding: 15px 30px;
    font-size: 18px;
    text-transform: uppercase;
    text-align: none;
    letter-spacing: 2px;
    font-weight: 500;
    border-radius: 10px;
    text-decoration: none;
}
.btn:hover{
    background: rgb(75, 75, 75);
    color:#fff;
    transition: 1.0s;
}
header.sticky{
    background: #fff;
    padding: 20px, 100px;
    box-shadow: 0 5px 20px rgba(0,0,0,0.1);
    height: 60px;
}
header{
    position: fixed;
    top:0;
    left:0;
    width:100%;
    height: 60px;
    padding:40px, 100px;
    z-index: 1000 ;
    display: flex;
    justify-content:space-around;
    align-items: center;
    transition: 0.5s;
}
#fiap{
    
    text-transform: uppercase;
    font-weight: 500;
    color: crimson;
}
header .logo{

color:#fff;
font-size: 24px;
text-transform: uppercase;
text-decoration: none;
font-weight: 700;
letter-spacing: 2px;

}
header.sticky .logo{
    color: #111;
}
header.sticky ul li a{
    color: #111;
}
header ul{
    position: relative;
    display: flex;

}
header ul li {
    position: relative;
    list-style: none;

}
header ul li a{
    position: relative;
    list-style: inline-block;
    margin: 0 15px;
    color: #fff;
    text-decoration: none;
    font-size: 20px;
}

.heading h2{
    font-weight: 600;
    font-size: 30px;
}
.heading{
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
    color: 111;
}
.content{
    display: flex;
    justify-content: space-between;
    
}
.contentBx{
    padding-right: 30px;
}
.contentBx h3{
font-size: 24px;
margin-bottom: 10px;
}
.w50{
min-width: 50%;

}
img{
    max-width: 100%;
    
}
.imagm{
    max-width: 100%;
        height: 420px;
        margin-left: 10px;
        border-radius: 10px;
        
}
#Daniel{
    text-decoration: none;
    color: #f7f7f7;
    box-shadow: 0, 20px, 50px rgba(0, 0, 0, 0.1);
}
#Daniel :hover {
    text-decoration: underline;
    
}
.services{
    background: #111;
}
.heading.white{
color:#fff
}
.services .content{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
}
.services .content .servicesBx{
    padding: 40px 20px;
    background: #222;
    color: #fff;
    max-width: 340px;
    margin: 20px ;
    text-align: center;
    transition: 1.0s;
    border-radius: 10px;
}
.services .content .servicesBx:hover {
    background: #fff;
    color: #111;
}
.services .content .servicesBx img{
    max-width: 80px;
    filter: invert(1)
}
.services .content .servicesBx h2{
    font-size: 20px;
    font-weight: 600;

}
.work .content{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.work .content .workBx{
    width: 50%;
    padding: 20px;
}
.work .content .workBx img{
    max-width: 90%;
}
img{
   padding-left: 150px;
   
}
.btnBx{
position: relative;
        background: #111;
        display: inline-block;
        color: #fff;
        margin-top: 20px;
        padding: 10px 30px;
        font-size: 18px;
        text-transform: uppercase;
        text-align: none;
        letter-spacing: 2px;
        font-weight: 500;
        border-radius: 10px;
        text-decoration: none;
}
.btnBx:hover {
    background: rgb(75, 75, 75);
    color: #fff;
    transition: 1.0s;
}
.testimonial{
    background: #f7f7f7;
   
}
.testimonial .content{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.testimonial .content .testimonialBx{
    max-width: calc(50% - 40px);
    padding: 60px 40px;
    margin: 20px;
    background: #111;
    border-radius: 10px;
}
.testimonial .content .testimonialBx p{
    color: #fff;
    font-style: italic;
    font-size: 16px;
    font-weight: 300;
}
.testimonial .content .testimonialBx h3{
    margin-top: 40px;
    text-align: end;
    color: #fff;
    font-weight: 600;
    font-size: 20px;
line-height: 1em;
}
.testimonial .content .testimonialBx span{
    font-weight: 200;
    font-size: 14px;

}
.contact{
    background: #111;
    
}
.formBx{
    min-width: 60%;
    
}
.formBx form{
    display: flex;
    flex-direction: column;
}
.formBx form h3, 
.contactInfo h3 {
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 10px;
}
.formBx form input, 
.formBx form textarea{
    margin-bottom: 20px;
    padding: 15px;
    font-size: 16px;
    resize: none;
    border: none;
    outline: none;
    background: #222;
    color: #fff;
}
#mensagm{
min-height: 100px;

}
.formBx form input::placeholder{
    color:#999
    
}
.text p{
    color: #f7f7f7;
}
.formBx form input[type="submit"]{
    max-width: 100px;
    background: #f7f7f7;
    cursor:pointer;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #111;
    border-radius: 10px;
    font-weight: 600;
    margin: 10px;
    
    
}
.formBx form input[type="submit"]:hover {
    background: #222;
        color: #fff;
        transition: 1.0s;

}
.formBx form input[type="reset"] {
    max-width: 100px;
    background: #f7f7f7;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #111;
    border-radius: 10px;
    font-weight: 600;
    margin: 10px;
    


}
.formBx form input[type="reset"]:hover {
    background: #222;
    color: #fff;
    transition: 1.0s;
}
.nova{
    display: flex;
    float: right;  
}


.contactInfo {
    padding-right: 20px;
}

.contactInfoBx .box {
    position: relative;
    padding: 20px 0;
}

.contactInfoBx .box {
    min-width: 40px;
    padding-top: 4px;
    color: #fff;
    display: flex;
  
    align-items: flex-start;
    font-size: 25px;
}

.contactInfoBx .box .text {
    display: flex;
    font-size: 16px;
    margin-left: 20px;
    font-weight: 300;
    flex-direction: column;
}

.contactInfoBx .box .text h3 {
    font-weight: 500;
    color:#999;
    margin-bottom: 0cm;

}
.copyright{
    background: #000;
    color: #fff;
    text-align: center;
    padding: 10px;

}
/*Responsividade*/
@media screen and (max-width: 991){
    header,
    header.sticky{
        padding: 20px 50px;
        z-index: 1000;
    }
    .menu
    {
        position: fixed;
        top: 75px;
        left: -100%;
        display: block;
        padding: 100px 50px;
        width: 100%;
        height: 100vh;
        background: #fff;
        transition: 1.0s;
        z-index: 999;
        border-top: 1px solid rgba(0,0,0,0.2);
    }

    header ul li a{
        color: #111;
        font-size: 24px;
        margin: 10px;
    }
    .toggle{
        width: 40px;
        height: 40px;
        background: url(/image/menu.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size:  30px;

    }
    .toggle .active {
            background: url(/image/menu.png);
            background-position: center;
            background-repeat: no-repeat;
            background-size: 30px;
    
    }


}